* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #d8c6ff; /* Lilac background color */
}

.container {
    background-color: #e6e6fa; /* Lilac color, replace #lblblb with a valid color code */
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #b0a1ff; /* Lilac color, replace #3e3f43 with a valid color code */
    color: #7d68a1; /* Adjusted text color for better visibility */
}

.btn-focus {
    background-color: #7d68a1; /* Adjusted color for focus button */
    color: #ffffff;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#btn-start,
#btn-pause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #ffffff;
}

#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

